trigger:
- main
 
pool:
  name: Default_2
  demands:
    - Agent.Name -equals ag001
 
variables:
  # Azure
  location: 'Standard_B1ms'
  resourceGroupName: 'rg-iac-web-iis'
  vmName: 'vm-iac-web-iis'
 
  # Service connection do Azure DevOps (ajuste para o NOME EXATO no DevOps)
  azureServiceConnection: 'ar01com'
 
  # ARM (VM + IIS)
  templateFile: 'arm-templates/vm-iis-template.json'
  parametersFile: 'arm-templates/vm-iis-parameters.json'
 
  # Conteúdo do site
  indexUrl: 'https://raw.githubusercontent.com/lmlpuc/lmlarm003/refs/heads/main/src/index.html'
 
stages:
- stage: DeployInfra
  displayName: 'Provisionar Infraestrutura (VM + IIS)'
  jobs:
  - job: Deploy
    displayName: 'Criar RG + Deploy ARM (VM)'
    steps:
    - checkout: self
 
    - task: AzureCLI@2
      displayName: 'Criar Resource Group'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az group create --name "$(resourceGroupName)" --location "$(location)"
 
    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM Template (VM + IIS)'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: '$(azureServiceConnection)'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'
        deploymentName: 'vm-iis-deployment'
 
    # Espera a VM existir antes do próximo stage (evita "ResourceNotFound")
    - task: AzureCLI@2
      displayName: 'Aguardar VM ficar disponível'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          $rg = "$(resourceGroupName)"
          $vm = "$(vmName)"
          for ($i=1; $i -le 30; $i++) {
            Write-Host "Tentativa $i/30: verificando VM $vm no RG $rg..."
            $ok = az vm show -g $rg -n $vm --query "name" -o tsv 2>$null
            if ($LASTEXITCODE -eq 0 -and $ok) {
              Write-Host "VM encontrada: $ok"
              break
            }
            Start-Sleep -Seconds 10
          }
          if (-not $ok) { throw "VM não ficou disponível a tempo. Verifique o deployment ARM." }
 
- stage: ConfigureWebsite
  displayName: 'Publicar site no IIS'
  dependsOn: DeployInfra
  jobs:
  - job: PublishHTML
    displayName: 'Copiar index.html para C:\inetpub\wwwroot'
    steps:
    - checkout: self
 
    - task: AzureCLI@2
      displayName: 'Publicar index.html via RunCommand'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          $rg = "$(resourceGroupName)"
          $vm = "$(vmName)"
          $url = "$(indexUrl)"
 
          $ps = @"
          \$ErrorActionPreference = 'Stop'
          \$dest = 'C:\inetpub\wwwroot\index.html'
          Invoke-WebRequest -Uri '$url' -OutFile \$dest -UseBasicParsing
          iisreset
          "@
 
          az vm run-command invoke `
            --resource-group $rg `
            --name $vm `
            --command-id RunPowerShellScript `
            --scripts $ps
 
    - task: AzureCLI@2
      displayName: 'Mostrar IP/FQDN (saída do deployment)'
      inputs:
        azureSubscription: '$(azureServiceConnection)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          $rg = "$(resourceGroupName)"
          # Mostra os outputs do último deployment com esse nome
          $out = az deployment group show -g $rg -n vm-iis-deployment --query "properties.outputs" -o json
          Write-Host "Outputs do deployment (IP/FQDN):"
          Write-Host $out
