trigger:
- main
 
pool:
  name: Default_2
  demands:
    - Agent.Name -equals ag001
 
variables:
  location: 'westus3'
  resourceGroupName: 'rg-iac-web-iis'
 
  # Nome único por execução (evita erro "Website already exists")
  # Ex.: lml-12345
  siteName: 'lml-$(Build.BuildId)'
 
  # Ajuste conforme seu template (se ele usar skuName)
  skuName: 'F1'
 
stages:
- stage: DeployInfra
  displayName: 'Provisionar Infraestrutura (WebApp)'
  jobs:
  - job: Deploy
    displayName: 'Criar RG e Deploy ARM (WebApp)'
    steps:
    - checkout: self
 
    - task: AzureCLI@2
      displayName: 'Criar Resource Group'
      inputs:
        azureSubscription: 'ar01com'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          az group create --name "$(resourceGroupName)" --location "$(location)"
 
    - task: AzureResourceManagerTemplateDeployment@3
      displayName: 'Deploy ARM Template (WebApp)'
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01com'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: 'arm-templates/webapp-template.json'
        csmParametersFile: 'arm-templates/webapp-parameters.json'
        # Sobrescreve parâmetros do arquivo (evita conflito e mantém pipeline flexível)
        overrideParameters: >
          -siteName "$(siteName)"
          -location "$(location)"
          -skuName "$(skuName)"
        deploymentMode: 'Incremental'
        deploymentName: 'webapp-deployment-$(Build.BuildId)'
 
    - powershell: |
        Write-Host "SiteName usado nesta execução: $(siteName)"
      displayName: 'Exibir siteName usado'
