trigger:
- main

pool:
  vmImage: 'windows-latest'

variables:
  resourceGroupName: rg-iac-webapp
  location: centralus
  templateFile: arm-templates/webapp-template.json
  parametersFile: arm-templates/webapp-parameters.json

stages:
- stage: DeployInfrastructure
  jobs:
  - job: ARM_Deployment
    steps:
    - task: AzureResourceManagerTemplateDeployment@3
      inputs:
        deploymentScope: 'Resource Group'
        azureResourceManagerConnection: 'ar01.com'
        subscriptionId: 'daba15d5-34df-43c0-b74a-3376ee974727'
        action: 'Create Or Update Resource Group'
        resourceGroupName: '$(resourceGroupName)'
        location: '$(location)'
        templateLocation: 'Linked artifact'
        csmFile: '$(templateFile)'
        csmParametersFile: '$(parametersFile)'
        deploymentMode: 'Incremental'

- stage: DeployApp
  dependsOn: DeployInfrastructure
  jobs:
  - job: Publish_HTML
    steps:
    - task: AzureWebApp@1
      inputs:
        azureSubscription: 'ar01.com'
        appType: 'webApp'
        appName: 'lmliacpaas001'
        package: 'src'
